.main {
    position: relative;
    display: inline-block;
    margin: 16px;
}

.text {
    border-bottom: 1px dotted black;
}

.tooltip {
    position: absolute;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    color: white;
    display: inline-block;
    bottom: -39px;
}

.text:hover input[type="title"] {}
