* {
    box-sizing: border-box;
}

.rectangle {
    height: auto;
    width: auto;
    border: 1px solid black;
    padding: 50px;
}

.rectangle1 {
    background-color: blue;
}

.rectangle2 {
    background-color: yellow;
}

.rectangle3 {
    background-color: green;
}

.rectangle4 {
    background-color: pink;
}